.form {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}

.label {
  width: 50px;
  align-self: flex-start;

  text-align: start;
}

.input {
  margin-bottom: 20px;
  border-radius: 5px;
}
