.table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 5px;
}

.tr {
	box-shadow: 0 2px 6px rgba(145, 145, 145, 0.3);
	border-radius: 5px;
	height: 40px;
}
.th {
	padding: 20px;
	font-size: 16px;
}

.td {
	padding: 10px;
	font-size: 16px;
	text-align: left;
}

.name {
	width: 30%;
}

.number {
	width: 30%;
}
